* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pomodoro__container {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: rgb(230, 83, 127);
}
.heading {
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
}
.pomodoro__timer {
  background-color: rgb(172, 36, 76);
  width: 250px;
  margin: 0 auto;
  text-align: center;
  padding: 1em 1em 2em;
  border-radius: 0.3em;
}
.timer {
  font-size: 2rem;
  color: white;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.btn {
  background-color: rgb(99, 8, 35);
  border: none;
  outline: none;
  color: white;
  padding: 0.5em 0.7em;
  border-radius: 0.3em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
